html, body {
	font-family: Consolas, monaco, monospace;
	background-image:url('../img/background.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	color: #F8F8F2;
}

.container {
	margin: 50px;
}

a {
	text-decoration: none;
	color: #A6E22E;
}

a:hover {
	color: #F92672;
}

h1 {
	color: #F92672;
}

h2 {
	color: #66D9EF;
}

li{
	color:white;
}

.navbar-inverse .navbar-nav>li>a{
	color:#ca0dca;
}

.navbar-inverse .navbar-nav>li>a:focus, .navbar-inverse .navbar-nav>li>a:hover{
	color:greenyellow;
}


.report-preview p{
	color: grey;
}

img {
	width: 360px;
	height: 360px;
}

#zone_chat{
    width: 100%;
    height: 380px;
	overflow: auto;
	border:3px solid black;
	background-color: black;
	opacity: 0.7;
}
header {
	display: block;
	margin: auto;
	background-image: url('../img/fog.jpg');
	background-size: cover;
}

.media {
	float: left;
	margin-bottom: 30px;
}

#game-board {
	margin: 0 auto;
	background-color: black;
	opacity: 0.7;
}

.ress ul li {
	padding: 15px; 
	border: 3px solid white;
	display: inline;
}

.ress ul {
	list-style-type: none;
}

.btn-success{
	background-color: transparent;
	border: 2px solid white;
}

.btn-success:hover{
	background-color: #654227;
	border: 2px solid #301d16;
}

.btn-success:focus{
	background-color: #654227;
	border: 2px solid #301d16;
}

.header img {
	display: block;
	margin: 0 auto; 
}

.header {
	background-color: grey;
	margin: 0!important;
	width: 100%;
	background-image: url(../img/brouillard.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}

.navbar {
	background-color: silver;
}

#menu ul li a {
	color: black;
}

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover {
	background-color: #915e36;
	color: white!important;
}
